<% provide(:title, 'The Champions!') %>
<h1>All players</h1>
<%= will_paginate @users%>
<ul class="user">
  <% @user.each do |user| %>
      <li>
       
          <%= gravatar_for user%>
          <%= link_to user.name, user %>
       
       
          <div id="follow_form">
            <% if !current_user?(user) && !current_user.following?(user) %>
              <%= form_for(current_user.active_relationships.build) do |f| %>
                <div><%= hidden_field_tag :followed_id, user.id %></div>
                <p style='float:left'><%= f.submit "Follow" %></p>
              <% end %>
            <%else%>
                <%unless current_user?(user)%>
                  <p style='float:left'>You follow <%=user.name%>.</p>     
                <%end%>
            <%end%>
          </div>
       
        <% if current_user.admin? && !current_user?(user) %>
           <%= link_to "Delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
        <% end %>
      </li>
  <% end %>
</ul>
<%= will_paginate @users%>